<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/head :: common_head2(~{::title})}">
    <title th:text="#{login.title}">Title</title>
</head>
<header th:replace="~{/layout/header :: common_header}"></header>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h1 class="mt-4">회원 정보</h1>
    </div>

    <hr class="my-4">
    <div>
        <h4 class="mb-3">회원 상세 정보</h4>

        <div class="form-group">
            <label for="name">이름</label>
            <input class="form-control title" id="name" th:value="${memberResponseDTO.name}" readonly>
        </div>
        <div class="form-group">
            <label for="loginId">아이디</label>
            <input class="form-control" id="loginId" th:value="${memberResponseDTO.loginId}" readonly>
        </div>
        <div class="form-group">
            <label for="phone">휴대폰</label>
            <input class="form-control" id="phone" th:value="${memberResponseDTO.phoneNumber}" readonly>
        </div>
    </div>

    <hr class="my-4">

    <h4 class="mb-3">멤버쉽 정보</h4>
    <div th:if="${payment != null}">
        <div class="form-group">
            <label for="pname">멤버쉽 이름</label>
            <input class="form-control title" id="pname" th:value="${payment.name}" readonly>
        </div>
        <div class="form-group">
            <label for="price">가격</label>
            <input class="form-control" id="price" th:value="${payment.price}" readonly>
        </div>
        <div class="form-group">
            <label for="pplan">할부</label>
            <input class="form-control" id="pplan" th:value="${payment.paymentPlan.getDescription()}" readonly>
        </div>
        <div class="form-group">
            <label for="pway">결제방식</label>
            <input class="form-control" id="pway" th:value="${payment.paymentWay.getDescription()}" readonly>
        </div>
        <div class="form-group">
            <label for="start">시작일</label>
            <input class="form-control" id="start" th:value="${payment.startTime}" readonly>
        </div>
        <div class="form-group">
            <label for="end">종료일</label>
            <input class="form-control" id="end" th:value="${payment.endTime}" readonly>
        </div>
    </div>

    <div th:if="${payment == null}">
        <p>아직 멤버쉽을 가입하지 않았어요... </p>
        <a href="/memberShips">가입하러 가기~</a>
    </div>

    <a href="/classes/modify">예약 수정</a>
    <div th:if="${reservations != null}" th:each="reservation : ${reservations}">
        <h4>[[${reservation.year}]]년 [[${reservation.month}]]월 [[${reservation.day}]]일 [[${reservation.startTime}]] ~ [[${reservation.endTime}]] [[${reservation.dayOfWeek}]]</h4>
    </div>

    <div th:if="${reservations == null}">
        <p>예약된 수업이 없어요...</p>
        <a href="/classes">예약하러 가기~</a>
    </div>

</div>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>