<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/head :: common_head2(~{::title})}">
    <title th:text="#{login.title}">Title</title>
</head>
<header th:replace="~{/layout/header :: common_header}"></header>
<body>

<hr class="my-4">

<div class="container">

    <div class="py-5 text-center">
        <h1 class="mt-4">멤버쉽 등록</h1>
    </div>

    <div class="form-group">
        <label for="name">멤버쉽 이름</label>
        <input class="form-control title" id="name" th:value="${memberShip.name}" readonly>
    </div>
    <div class="form-group">
        <label for="price">멤버쉽 가격</label>
        <input class="form-control" id="price" th:value="${memberShip.price}" readonly>
    </div>
<!--    <div class="form-group">-->
<!--        <label for="timeInterval">기간</label>-->
<!--        <input class="form-control" id="timeInterval" th:value="${timeInterval}" readonly>-->
<!--    </div>-->

    <hr class="my-4">

    <h4 class="mb-3">결제 정보 입력</h4>

    <form th:acthon="@{/memberShips/{id} (id=${memberShip.id})}" th:object="${memberShipRegisterDTO}" method="post">
    <div>
        <div>할부</div>
        <!--            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">-->
        <div th:each="type : ${T(hcy.gym.domain.PaymentPlan).values()}" class="form-check form-check-inline">
            <input type="radio" th:field="*{paymentPlan}" th:value="${type.name()}" class="form-check-input">
            <label th:for="${#ids.prev('paymentPlan')}" th:text="${type.description}" class="form-check-label">
            </label>
        </div>
        <br/>
        <div>결제 방식</div>
        <!--            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">-->
        <div th:each="type : ${T(hcy.gym.domain.PaymentWay).values()}" class="form-check form-check-inline">
            <input type="radio" th:field="*{paymentWay}" th:value="${type.name()}" class="form-check-input">
            <label th:for="${#ids.prev('paymentWay')}" th:text="${type.description}" class="form-check-label">
            </label>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
        </div>
        <div class="col">
            <a class="w-100 btn btn-secondary btn-lg" href="/memberShips">취소</a>
        </div>
    </div>
    </form>

</div>

<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>