<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/head :: common_head2(~{::title})}">
    <title th:text="#{login.title}">Title</title>
</head>
<header th:replace="~{/layout/header :: common_header}"></header>
<body>

<div class="container">

    <hr class="my-4">

    <div class="py-5 text-center">
        <h2>커뮤니티</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/posts/new}'|"
                    type="button기">글 쓰기</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>카테고리</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts.dataList}">
                <td><a th:href="@{/posts/{id} (id=${post.id})}" th:text="${post.title}">제목</a></td>
                <td th:text="${post.category.getDescription()}">카테고리</td>
                <td th:text="${#temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm')}">날짜</td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination h-100 justify-content-center align-items-center">
        <li class="page-item " th:if="${posts.prev}">
            <a class="page-link" th:href="@{/posts(page=${posts.start-1})}" tabindex="-1">PREVIOUS</a>
        </li>
        <li th:class=" 'page-item ' + ${posts.page == page?'active':''}" th:each="page : ${posts.pageList}">
            <a class="page-link" th:href="@{/posts(page=${page})}">[[${page}]]</a>
        </li>
        <li class="page-item" th:if="${posts.next}">
            <a class="page-link" th:href="@{/posts(page=${posts.end+1})}">NEXT</a>
        </li>
    </ul>

</div> <!-- /container -->
<!-- <footer th:replace="~{/layout/footer :: footer}"></footer> -->
</body>

</html>