<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/head :: common_head(~{::title}, ~{::link})}">
    <title>Title</title>
    <link th:href="@{/css/table.css}" href="/css/table.css" rel="stylesheet">
</head>
<header th:replace="~{/layout/header :: common_header}"></header>
<body>

<div class="container">

    <hr class="my-4">
    <hr class="my-4">

    <h4 class="mb-3">내 멤버쉽 정보</h4>
    <div th:if="${payment} != null">
        <div class="form-group">
            <label for="pname">멤버쉽 이름</label>
            <input class="form-control title" id="pname" th:value="${payment.name}" readonly>
        </div>
        <div class="form-group">
            <label for="start">시작일</label>
            <input class="form-control" id="start" th:value="${payment.startTime}" readonly>
        </div>
        <div class="form-group">
            <label for="end">종료일</label>
            <input class="form-control" id="end" th:value="${payment.endTime}" readonly>
        </div>
    </div>

    <hr class="my-4">

    <div class="py-5 text-center">
        <h2>시간표</h2>
        <h4 th:text="|현재 날짜 : ${year} 년 ${month} 월 ${day} 일 ${hour} 시 ${minute} 분|" style="text-align: right;"></h4>
        <h4 th:text="|${year} 년 ${weekNum} 주차|" style="text-align: left;">주차</h4>
    </div>

    <!-- <select class="form-select" onchange="javascript:initWeek(this.value)">
        <option value="this" selected>[[${thisWeekNum}]] 주차</opthon>
        <option value="next">[[${nextWeekNum}]] 주차</option>
    </select> -->

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
            <tr class="bg-light-gray">
                <th class="text-uppercase">Time</th>
                <th class="text-uppercase mon">[[${weeks.get(1).getDate()}]] 월</th>
                <th class="text-uppercase tue">[[${weeks.get(2).getDate()}]] 화</th>
                <th class="text-uppercase wed">[[${weeks.get(3).getDate()}]] 수</th>
                <th class="text-uppercase thu">[[${weeks.get(4).getDate()}]] 목</th>
                <th class="text-uppercase fri">[[${weeks.get(5).getDate()}]] 금</th>
            </tr>
            </thead>
            <tbody class="tbody">
            <tr>
                <td class="align-middle">09:30am</td>
                <td th:each="class : ${one}" class="time" th:attr="data-id=${class.id}, data-name=${class.name}, data-start=${class.startTime}, data-end=${class.endTime}, data-dayofweek=${class.day},  
                data-curmember=${class.curMemberNumber}, data-maxmember=${class.maxMemberNumber}">
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" th:text="${class.name}">Dance</span>
                    <div class="margin-10px-top font-size14">9:30-10:20</div>
                   <div class="font-size13 text-light-gray" th:text="${class.teacher}"></div>
                   <div class="font-size13 text-light-gray" th:text="|${class.curMemberNumber} / ${class.maxMemberNumber}|"></div>
                </td>

            </tr>

            <tr>
                <td class="align-middle">10:35am</td>
                <td th:each="class : ${two}" class="time" th:attr="data-id=${class.id}, data-name=${class.name}, data-start=${class.startTime}, data-end=${class.endTime}, data-dayofweek=${class.day}, 
                data-curmember=${class.curMemberNumber}, data-maxmember=${class.maxMemberNumber}">
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" th:text="${class.name}">Dance</span>
                    <div class="margin-10px-top font-size14">10:35-11:25</div>
                    <div class="font-size13 text-light-gray" th:text="${class.teacher}"></div>
                    <div class="font-size13 text-light-gray" th:text="|${class.curMemberNumber} / ${class.maxMemberNumber}|"></div>
                </td>
            </tr>

            <tr>
                <td class="align-middle">11:40am</td>
                <td th:each="class : ${three}" class="time" th:attr="data-id=${class.id}, data-name=${class.name}, data-start=${class.startTime}, data-end=${class.endTime}, data-dayofweek=${class.day}, 
                data-curmember=${class.curMemberNumber}, data-maxmember=${class.maxMemberNumber}">
                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" th:text="${class.name}">Dance</span>
                    <div class="margin-10px-top font-size14">11:40-12:30</div>
                    <div class="font-size13 text-light-gray" th:text="${class.teacher}"></div>
                    <div class="font-size13 text-light-gray" th:text="|${class.curMemberNumber} / ${class.maxMemberNumber}|"></div>
                </td>

            </tr>

            <tr>
                <td class="align-middle">01:00pm</td>
            </tr>

            <tr>
                <td class="align-middle">06:00pm</td>
                <td th:each="class : ${four}" class="time" th:attr="data-id=${class.id}, data-name=${class.name}, data-start=${class.startTime}, data-end=${class.endTime}, data-dayofweek=${class.day}, 
                data-curmember=${class.curMemberNumber}, data-maxmember=${class.maxMemberNumber}">
                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" th:text="${class.name}">Dance</span>
                    <div class="margin-10px-top font-size14">06:00-06:50</div>
                    <div class="font-size13 text-light-gray" th:text="${class.teacher}"></div>
                    <div class="font-size13 text-light-gray" th:text="|${class.curMemberNumber} / ${class.maxMemberNumber}|"></div>
                </td>

            </tr>

            <tr>
                <td class="align-middle">07:00pm</td>
                <td th:each="class : ${five}" class="time" th:attr="data-id=${class.id}, data-name=${class.name}, data-start=${class.startTime}, data-end=${class.endTime}, data-dayofweek=${class.day}, 
                data-curmember=${class.curMemberNumber}, data-maxmember=${class.maxMemberNumber}">
                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" th:text="${class.name}">Dance</span>
                    <div class="margin-10px-top font-size14">07:00-07:50</div>
                    <div class="font-size13 text-light-gray" th:text="${class.teacher}"></div>
                    <div class="font-size13 text-light-gray" th:text="|${class.curMemberNumber} / ${class.maxMemberNumber}|"></div>
                </td>
            </tr>

            <tr>
                <td class="align-middle">08:00pm</td>
                <td th:each="class : ${six}" class="time" th:attr="data-id=${class.id}, data-name=${class.name}, data-start=${class.startTime}, data-end=${class.endTime}, data-dayofweek=${class.day}, 
                data-curmember=${class.curMemberNumber}, data-maxmember=${class.maxMemberNumber}">
                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" th:text="${class.name}">Dance</span>
                    <div class="margin-10px-top font-size14">08:00-08:50</div>
                    <div class="font-size13 text-light-gray" th:text="${class.teacher}"></div>
                    <div class="font-size13 text-light-gray" th:text="|${class.curMemberNumber} / ${class.maxMemberNumber}|"></div>
                </td>
            </tr>

            <tr>
                <td class="align-middle">09:00pm</td>
                <td th:each="class : ${seven}" class="time" th:attr="data-id=${class.id}, data-name=${class.name}, data-start=${class.startTime}, data-end=${class.endTime}, data-dayofweek=${class.day}, 
                data-curmember=${class.curMemberNumber}, data-maxmember=${class.maxMemberNumber}">
                    <span class="bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13" th:text="${class.name}">Dance</span>
                    <div class="margin-10px-top font-size14">09:00-09:50</div>
                    <div class="font-size13 text-light-gray" th:text="${class.teacher}"></div>
                    <div class="font-size13 text-light-gray" th:text="|${class.curMemberNumber} / ${class.maxMemberNumber}|"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 class="mb-3">선택 현황</h4>
    <div class="select">
        
    </div>
    <button type="button" class="reserveBtn btn btn-primary">예약하기</button>
</div>
</body>
<script th:inline="javascript">

    class ClassInfos {
        constructor(classId, year, month, day, hour, minute) {
            this.classId = classId;
            this.year = year;
            this.month = month;
            this.day = day;
            this.hour = hour;
            this.minute = minute;
        }
    }

    // 시간표 클릭 여부를 담을 map 자료구조.
    let classMap = new Map();
    // css제거를 위해 저장.
    // let cssMap = new Map();
    // 선택 현황을 나타내줄 div.
    let select = $(".select");
    // 현재 선택된 클래스 수.
    let classNum = 0;

    // 시간표 최종 예약 정보 담는 리스트.
    let classInfoList = new Array();

    // 초기 날짜.
    let mon = [[${weeks.get(1).getDate()}]];
    let tue = [[${weeks.get(2).getDate()}]];
    let wed = [[${weeks.get(3).getDate()}]];
    let thu = [[${weeks.get(4).getDate()}]];
    let fri = [[${weeks.get(5).getDate()}]];

    $(document).ready(function(){

        // 멤버쉽 가입 여부.. 만약 가입 안되어있으면 alert를 낼 예정.
        let payment = [[${payment}]];

        // 멤버쉽 주에 몇 번인지 확인.
        let week = [[${payment.week}]];

        // == 시간표 클릭 시. Onclick EventListener... == //
       $(".time").on("click", function() {
           
            var classId = $(this).data("id");
            var className = $(this).data("name");
            var startTime = $(this).data("start");
            var endTime = $(this).data("end");
            var dayOfWeek = $(this).data("dayofweek"); // 요일.

            var maxMemberNumber = $(this).data("maxmember"); // 수업 정원.
            var curMemberNumber = $(this).data("curmember"); // 수업 예약 인원.

            console.log(dayOfWeek);
            console.log(classId);
            console.log(className);

            console.log(mon);
            console.log(tue);
            console.log(wed);
            console.log(thu);
            console.log(fri);

            // 만약 클릭이 되어 있지 않은 시간표라면...
            if (classMap.get(classId) == null) {

                // 이미 한주에 등록할 수 있는 수를 넘었다면..
                if (isWeekOver() == true) {
                    return;
                }

                if (isTimeOver(dayOfWeek, startTime) == true) {
                    alert("이미 완료된 강의입니다. 다른 강의를 예약해 주세요.");
                    return;
                }

                if (isClassFull(maxMemberNumber, curMemberNumber) == true) {
                    alert("예약이 꽉 찬 수업입니다. 다른 수업을 예약해 주세요.");
                    return;
                }

                // 테두리 색 추가.
                $(this).css("border", "5px solid red");
                // cssMap.set(classId, $(this));

                // 선택 현황에 추가.
                select.append("<h2 id=" + classId + ">" + startTime + " ~ " + endTime + " " + dayOfWeek + " : " + className + "</h2>");

                // 클릭 여부 map에 추가.
                classMap.set(classId, className);

                // 수업 최종 예약 정보 리스트에 추가.
                var dateInfo = splitDate(dayOfWeek, startTime);
                classInfoList.push(new ClassInfos(classId, dateInfo[0], dateInfo[1]
                            ,dateInfo[2], dateInfo[3], dateInfo[4]));

                // 선택된 class수 추가.
                classNum = classNum + 1;

            }
            // 이미 클릭이 되어 있는 시간표라면...
            else {

                // 테두리 색 삭제.
                $(this).css("border", "");
                // cssMap.delete(classId);

                // 선택 현황에서 제거.
                $("#" + classId).remove();

                // 클릭 여부 map에서 제거.
                classMap.delete(classId);

                // 수업 최종 예약 정보 리스트에서 제거..
                findClassAndDelete(classId);

                // 선택된 class수 제거.
                classNum = classNum - 1;

            }

       });

       $(".reserveBtn").on("click", function(){

            // 보내야 할 것. 년 월 일 시 분 classId
            var data = {
                "classInfoList" : classInfoList
            }

            // jsonData = JSON.stringify(data);
            // console.log(jsonData);
            
            $.ajax({
                url: "/reservations/api",
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8;",
                dataType: "json",
                success: function(arr) {
                    $(location).attr('href', "/");
                },
                error: function(e) {
                    console.log(e);
                    alert("예약 성공!");
                    $(location).attr('href', "/");
                }
            })

       });

       // 주에 선택 개수 초과하면 alert..
       function isWeekOver() {

            if(week == classNum) {
                alert("회원님은 한 주에 최대 " + classNum + "개의 수업만 등록 가능합니다!");
                return true;
            }
            return false;
       }

       // mon, tue,, 같은 변수는 현재 String type으로 2021-07-25 이런식임
       // 이걸 integer type으로 파싱해서 리턴하는 함수.
       function splitDate(dayOfWeek, startTime) {

            var localTime;

            if(dayOfWeek == "월") {
                localTime = mon.split("-");
            }
            if(dayOfWeek == "화") {
                localTime = tue.split("-");
            }
            if(dayOfWeek == "수") {
                localTime = wed.split("-");
            }
            if(dayOfWeek == "목") {
                localTime = thu.split("-");
            }
            if(dayOfWeek == "금") {
                localTime = fri.split("-");
            }

            var year = parseInt(localTime[0]);
            var month = parseInt(localTime[1]);
            var day = parseInt(localTime[2]);

            var times = startTime.split(":");
            var hour = parseInt(times[0]);
            var minute = parseInt(times[1]);


            return [year, month, day, hour, minute];

       }

       function findClassAndDelete(classId) {
            var len = classInfoList.length;

            for (var i = 0; i < len; i++) {
                if (classInfoList[i].classId == classId) {
                    classInfoList.splice(i, 1);
                }
            }
       }

       // 이미 시간이 지나버린 강좌라면.. alert.. 
       // dayOfWeek은 요일 (요일별로 년월일 정보를 가지고 있음. 위에 전역변수로 선언됨), startTime 은 강좌의 시작시간.
       function isTimeOver(dayOfWeek, startTime) {

            var dateInfo = splitDate(dayOfWeek, startTime);

            var year = dateInfo[0];
            var month = dateInfo[1];
            var day = dateInfo[2];

            var curYear = [[${year}]];
            var curMonth = [[${month}]];
            var curDay = [[${day}]];

            console.log("시간표 년 : " + year);
            console.log("시간표 월 : " + month);
            console.log("시간표 일 : " + day);

            console.log("현재 년 : " + curYear);
            console.log("현재 월 : " + curMonth);
            console.log("현재 일 : " + curDay);

            // 연도가 다르면..
            if (year < curYear) {
                return true;
            }

            // 연도 같은 상태에서 달이 다르면
            if (month < curMonth) {
                return true;
            }

            // 달도 같은데 날이 다르면
            if (day < curDay) {
                return true;
            }

            // 만약 년월일 다 똑같으면 시간비교..

            if (year == curYear && month == curMonth && day == curDay) {

                var hour = dateInfo[3];
                var minute = dateInfo[4];

                var curHour = [[${hour}]];
                var curMinute = [[${minute}]];

                console.log("시간표 시 : " + hour);
                console.log("시간표 분 : " + minute);

                console.log("현재 시 : " + curHour);
                console.log("현재 분 : " + curMinute);

                if (hour < curHour) {
                    return true;
                }

                if (hour == curHour) {
                    if (minute < curMinute) {
                        return true;
                    }
                }
            }

            return false;

       }

       function isClassFull(maxMemberNumber, curMemberNumber) {
            if (maxMemberNumber <= curMemberNumber) {
                return true;
            }
            else {
                return false;
            }
       }

    });
    
</script>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</html>