<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="~{/layout/head :: common_head(~{::title}, ~{::link})}">
    <title>HCY GYM Main</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/carousel.css}" href="/css/carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header th:replace="~{/layout/header :: common_header}">
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
<!--      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>-->
<!--      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>-->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <img th:src="@{/img/main1.jpeg}" width="880" height="400" alt="메인 소개 1">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <img th:src="@{/img/main2.jpeg}" width="850" height="400" alt="메인 소개 2">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <img th:src="@{/img/main3.jpeg}" width="850" height="400" alt="메인 소개 3">
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
<!--        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" th:src="@{/img/coach1.jpeg}">
        <h2>이채린 강사님</h2>
        <p>빈야사 / 힐링 테라피 요가 / 아디다스 요가 / 비트 요가 / 골반교정 요가 / 다이나믹 스트레칭 / 매트 & 소도구 필라테스 / 플라잉 베이직 ~ 마스터</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" th:src="@{/img/coach2.png}">
        <h2>최혜미 강사님</h2>
        <p>플라잉 레벨 1,2 / 빈야사 / 필라테스 / 힐링요가 / 발레 필라테스 / 아디다스 / 교정</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" th:src="@{/img/coach3.jpeg}">
        <h2>박경란 강사님</h2>
        <p>플라잉 요가 / 아쉬탕가 / 아이다스 / 비트요가 / 워킹요가 / 인사이드 플로우 / 인스프릿 / 빈야사</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">스튜디오</h2>
        <p class="lead">이곳은 운동하는 스튜디오 입니다.</p>
        <p class="lead">천장에 묶여있는 해먹을 이용하여 플라잉 요가 수업을 진행합니다!</p>
      </div>
      <div class="col-md-5">
<!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
        <img th:src="@{/img/main4.jpeg}" width="500" height="500" alt="메인 소개 4">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">샤워실과 개인 락커장</h2>
        <p class="lead">운동 후 가벼워진 몸과마음과 함께 개운하고 프라이빗하게 사용하실 수 있는 샤워실과 개인 락카장도 있습니다!</p>
        <p class="lead">헤어드라이어, 빗, 샴푸, 린스, 바디워시, 면봉, 화장솜이 구비되어있어 번거롭게 샤워 바구니 들고 다니실 필요 없습니다 :)</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img th:src="@{/img/main5.jpeg}" width="450" height="500" alt="메인 소개 5">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">소도구</h2>
        <p class="lead">저희 찌부동 필라테스 HCY 요가에서는 필라테스 시간에 8가지 소도구를 이용해 다양하게 수업이 진행됩니다!</p>
      </div>
      <div class="col-md-5">
        <img th:src="@{/img/main6.jpeg}" width="500" height="500" alt="메인 소개 6">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  <!-- FOOTER -->
  <footer th:replace="~{/layout/footer :: footer}">
  </footer>
</main>

  </body>
</html>
